
body{
    background-image: url(./imagenes/fondo.jpg);
}

.color{
    --bs-bg-opacity: 1;
    background-color: rgba(232, 177, 150, 0.719) !important;
}

li{
    font-family:"Baskervville SC", serif;
    font-size: 23px;
    list-style: none;
    margin-right: 50px;
}

.logo{
    width: 130px;
}

.titulos{
    text-align: center;
    padding: 100px;
}

.titulos h1{
    font-size: 60px;
    font-family: "Playwrite CO", cursive;
}

.titulos h2{
    font-size: 80px;
    font-family:"Baskervville SC", serif;
}

.titulos h3{
    font-family:"Baskervville SC", serif;
}

.titulo{
    font-family: "Playwrite CO", cursive;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
}

.targetas{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
}

